.SpreadsheetGridHeaderStructure {
  background-color: #1e1f21;
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 37px;
  position: relative;
  border-top: 1px solid #a2a0a2;
  border-bottom: 1px solid #a2a0a2;
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.SpreadsheetGridHeaderStructureleft {
  align-items: stretch;
  background-color: #1e1f21;
  height: 37px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #a2a0a2;
  border-bottom: 1px solid #a2a0a2;
  border-top: 1px solid #a2a0a2;
  align-self: center;
  left: 0;
  position: absolute;
  z-index: 100;
}
.svg {
  cursor: pointer;
  overflow: hidden;
}
.expand {
  transform: rotate3d(0, 0, 1, 90deg);
}
.TaskGroupHeader :hover .TaskGroupHeader__icon {
  visibility: visible;
}
.TaskGroupHeader__icon {
  margin-right: 10px;
  height: 12px;
  width: 12px;
  fill: #a2a0a2;
  visibility: hidden;
}
