.Typography {
  font-size: 14px;
  line-height: 22px;
}
.SidebarCollapsibleHeader {
  color: #6f7782;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  height: 40px;
  padding: 0 24px 0 24px;
  width: 100%;
}
.Sidebar:hover {
  opacity: 1;
}
.MiniIcon {
  height: 12px;
  width: 12px;
  fill: #fff;
}
button {
  background-color: transparent;
  border: 0;
}
.SidebarInvite {
  align-items: center;
  box-sizing: border-box;
  color: #f6f8f9;
  cursor: pointer;
  display: flex;
  height: 56px;
  border-top: 1px solid #273240;
}

.SidebarInvite_button {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
.SidebarInvite_contentContainer {
  align-items: center;
  display: flex;
  height: 32px;
  padding-right: 4px;
}
.SidebarInvite_buttonImage {
  height: 24px;
  margin-left: 24px;
  width: 24px;
}
.SidebarInvite_buttonText {
  padding-left: 8px;
}
.Sidebar_learningHubButtonContainer {
  align-items: center;
  border-top: 1px solid var(--color-sidebar-border);
  display: flex;
  height: 56px;
  justify-content: center;
  text-align: center;
}
.SidebarLearningHubButton {
  border: 0;
  border-radius: 0;
  color: #fff;
  justify-content: left;
  text-align: center;
  display: inline-flex;
  width: 100%;
  height: 100%;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  cursor: pointer;
  align-items: center;
}
.SidebarLearningHubButton_icon {
  align-items: center;
  background-color: #796eff;
  border-radius: 50%;
  display: flex;
  fill: #fff;
  height: 24px;
  justify-content: center;
  margin-left: 12px;
  margin-right: 8px;
  width: 24px;
}

.CustomScrollbarScrollable {
  flex: 1 1 auto;
  min-height: 1px;
  overflow: hidden;
  position: relative;
}
.Scrollable_vertical {
  min-height: 1px;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  will-change: transform;
  -ms-overflow-style: none;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.ResizeListener {
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}
.SidebarCollapsibleSection {
  padding-bottom: 16px;
  border-bottom: 1px solid;
  padding: 8px 0;
  font-size: 14px;
  height: 100%;
  position: relative;
}
.SidebarWorkspaceHeader {
  color: #9ca6af;
  align-items: center;
  display: flex;
  height: 28px;
  padding: 0 24px 0 24px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  justify-content: space-between;
}
.FacepileStructure_item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}
.Avatar {
  align-items: center;
  background-size: cover;
  background-color: rgb(203, 212, 219);
  border-radius: 50%;
  /* box-shadow: inset 0 0 0 1px rgb(0 0 0 / 7%); */
  box-sizing: border-box;
  color: #fff;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-flex;
  justify-content: center;
  position: relative;
  vertical-align: top;
}
